@charset 'utf-8';

@use 'host';

@use '../../../../node_modules/scss-reset/total';

.container {
  display: flex;
  background: var(--background-color);
  border-radius: var(--border-radius);
  position: relative;
  padding: 10px;
}

.controls {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 575px) {
  .container {
    display: block;
  }
}

