<!doctype html>
<html lang="en" class="no-js">
<head>
  <title>Home</title>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <meta name="description" content="HTML layer with JS bundler for classical templates development.">

  <link href="https://example.com/" rel="canonical">

  <!-- Preload Google Fonts -->
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" type="text/css" as="style" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>
